# Variáveis do docker-compose.yml (raiz do projeto)

GHCR_OWNER=matheussesso
IMAGE_TAG=latest
DB_DATABASE=goodfood
DB_USERNAME=root
DB_PASSWORD=rootpassword
API_DOMAIN=api.devmat.com.br
APP_DOMAIN=app.devmat.com.br